.ssh/
*.lock.hcl
*.tfstate
.terraform/
*tfstate.backup
*.log.info
*lock.info


# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Package Files 
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Results files
*.txt
*.dat
*.csv

**/.idea
**/.gradle
**/gradle
**/build
*.properties
*.settings.gradle

# Workload files
*.dat

# Util figures
*.png
*.jpg